body {
    font-family: Arial, sans-serif;
    margin: 0;
   
}

.header-container {
    width: 1440px;
    height: 90px;
    margin: 0 auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #F0F0F0;
}

.section1 {
    width: 100%; 
    max-width: 1200px; 
    padding: 20px; 
}


.submit-task {
    background-color:#0029FF ; 
    color: white;               
    border: none;              
    padding: 10px 20px;        
    border-radius: 10px;       
    cursor: pointer;            
    font-size: 16px;            
   
}

.submit-task:hover {
    background-color: #007bff;  
}

.logo {
    
    margin-left: 50px;
}

.section2 {
    width: 100%; 
    max-width: 1200px; 
    padding: 0 0 0 20px; 
    background-color: #ffffff; 
}

.img1 {
    width: 350px;
    height: auto;  
}

.icons {
    
    position: relative;
    display: inline-block;
    gap: 10px; 
    margin-left: auto;

}

.icon {
    color: #ffffff;
    background-color: #0029FF;
    border-radius: 50%;
    cursor: pointer;
    font-size: 10px; 
    margin: 5px;
    padding: 10px;
    
}

.dropdown {
            margin-left: 5px;
            position: relative;
            display: inline-block;
        }

.dropbtn {
            background-color: transparent; 
            border: none; 
            font-size: 30px; 
            cursor: pointer; 
            margin-top: 4px;
        }

.dropdown-content {
            display: none; 
            position: absolute;
            right: 0;
            left: auto;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

.dropdown-content a {
            color: black; 
            padding: 12px 16px; 
            text-decoration: none; 
            display: inline-block; 
        }

.dropdown-content a:hover {
            background-color: #f1f1f1; 
        }


.desc {
    padding: 20px;
    background-color: #E9ECEF;

    border-radius: 1%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}


.title1 {
    margin: 0;
    width: 466px;
    height: 42px;
    top: 108px;
    left: 187px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 2%;
    color: #0029FF;

}

.sub-section1 {
    display: flex;               
    justify-content: space-between; 
    align-items: center;
}


.section h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 4%;
    margin: 0;
    height: 10%;
    padding-top: 5%;

    color: #ffffff;
    background-color: #020202;
}

.section p:not(:first-child) {
    padding: 20px;
}


.container {
    padding:0px 0 0 100px  ;
}

.dynamic-sections {
    display: flex;               
    flex-wrap: wrap;            
    justify-content: space-between; 
}

.section {
    flex: 0 0 calc(50% - 10px); 
    margin-bottom: 20px;        
    padding: 0px;            
    background-color: #f0f0f0;  
    border: 1px solid #ccc;     
    
    box-sizing: border-box;      
    border-radius: 4%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.section:hover {
    transform: scale(1.02);
}

.duration {
    margin-top: 20px;
}

.sidepanel  {
    width: 250px; 
    position: fixed; 
    font-size: 9px;
    z-index: 1;
    height: 60%; 
    top: 0;
    left: 0;
    background-color: #f0eaea;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    transform: translateX(-100%); 
    

}
  
.sidepanel.open {
    transform: translateX(0);  
}
  
.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 10px;
    color: #242020;
    display: block;
    transition: 0.3s;
}
  
.sidepanel a:hover {
    color: #3e38388c;
}
  
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}
  
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #b5adadbb;
    color: rgb(3, 3, 3);
    border-radius: 40%;
    padding: 10px 15px;
    border: none;
    position: fixed; 
    top: 100px; 
    left: 10px; 
    z-index: 2; 
}
  
.openbtn:hover {
    background-color:#0029FF;
}